.header {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    height: 84px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background: var(--two);
    filter: drop-shadow(0px 4px 0 var(--one));
}

.logo {
    width: 80px;
    height: auto;
    margin: 10px 0 0 150px;
}

.logo img {
    width: 80px;
    height: auto;
    position: absolute;
}

.pills {
    display: flex;
    width: 148px;
    margin: 10px 150px 10px 0;
}

.nav {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: var(--three);
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 44px;
    height: 30px;
}

.profile {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: var(--three);
}

.ring {
    margin: 44px 0 0 44px;
}

input, ul.dropdown {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
    height: 30px;
}

input:checked~ul.dropdown {
    display: block;
    padding: 0;
    margin: 340px 0 0 80px;
    position: absolute;
    height: 250px;
    width: 200px;
    border-radius: 0 0 100px 100px;
    background: var(--three);
}

li::marker {
    display: none;
}

.dropdown-list {
    width: 160px;
    height: 40px;
    margin: 10px 20px;
    border-radius: 20px;
    background: var(--four);
}