@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --one: #242424;
    --two: #343434;
    --three: #444444;
    --four: #545454;
    --yellow: #F2DD6E;
}

body {
    background: var(--two);
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.container {

}