@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --one: #242424;
    --two: #343434;
    --three: #444444;
    --four: #545454;
    --yellow: #F2DD6E;
}

body {
    background: var(--two);
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.container {
    width: 1000px;
    min-height: 1080px;
    height: 100vh;
    margin: auto;
    z-index: 1;
    position: relative;
}