@font-face {
    font-family: 'Geologica';
    src: url(../fonts/Geologica/Geologica.ttf) format('truetype');
}

:root {
    --one: #242424;
    --two: #343434;
    --three: #444444;
    --four: #545454;
    --yellow: #F2DD6E;
}

body {
    background: var(--two);
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.container {
    width: 80vw;
    height: calc(100vh - 90px);
    margin: 90px 0 0 0;
}

.title-line {
    font-family: Geologica;
    font-weight: bold;
    font-size: 360;
    line-height: 75%;
    letter-spacing: -5%;
}

.side-profile {
    height: 75vh;
    width: auto;
    margin: 0 0 0 -30px;
}